@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-hram-light-4;
  }
  html {
    @apply font-cormorant-unicase text-hram-dark-2
  }
  body,
  html {
    scroll-behavior: smooth;
  }
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

  #__nuxt {
    @apply h-full;
  }

  .h-inherit {
    height: inherit;
  }

  :root {
    --el-color-primary-dark-2: theme('colors.hram.dark-1') !important;
    --el-color-primary: theme('colors.hram.DEFAULT') !important;
    --el-color-primary-light-3: theme('colors.hram.light-1') !important;
    --el-color-primary-light-5: theme('colors.hram.light-2') !important;
    --el-color-primary-light-7: theme('colors.hram.light-3') !important;
    --el-color-primary-light-8: theme('colors.hram.light-4') !important;
    --el-color-primary-light-9: theme('colors.hram.light-5') !important;
    --el-text-color-primary: theme('colors.hram.dark-2') !important;
    --el-text-color-regular: theme('colors.hram.dark-2') !important;
    --el-border-radius-base: theme('borderRadius.md') !important;
  }
}

@layer components {
  :root {
    --el-font-size-base: 14px !important;
  }

  .el-checkbox {
    --el-checkbox-font-size: 14px !important;
  }

  @media (min-width: 1024px) {
    :root {
      --el-font-size-base: 16px !important;
    }

    .el-checkbox {
      --el-checkbox-font-size: 16px !important;
    }
  }

  .el-button.is-link:hover {
    color: theme('colors.hram.light-1') !important;
  }

  .el-button.is-link:hover :deep(path) {
    fill: currentColor;
  }

  .el-button:focus-visible {
    outline: unset !important;
  }

  .el-overlay-dialog .el-dialog.is-fullscreen {
    --el-dialog-border-radius: 0;
  }
}
